:root {
  --theme-frame-color: #212121;
  --theme-field-color: #393939;
  --theme-fore-color: #d0d0d0;
  --theme-fore-color-active: #fefefe;
  --theme-back-color: #272727;
  --theme-back-color-active: #3c3c3c;
  --theme-back-color-menu: #2F2F2F;
  --theme-back-color-card: #333333;
  --theme-border-color: #414141;
  --theme-border-color-menu: #373737;
  --theme-border-color-card: #414141;
  --theme-border-color-checked: #494949;
  --theme-accent-color: #408BDF;
  --theme-accent-color-hover: #5da0ec;
  --theme-accent-color-active: #82bbfc;
  --theme-corner-radius: 5px;
  --theme-border-width: 1px;
}
