:root {
  --theme-frame-color: #212121;
  --theme-field-color: #393939;
  --theme-fore-color: #d0d0d0;
  --theme-fore-color-active: #fefefe;
  --theme-back-color: #272727;
  --theme-back-color-active: #3c3c3c;
  --theme-back-color-menu: #2F2F2F;
  --theme-back-color-card: #333333;
  --theme-border-color: #414141;
  --theme-border-color-menu: #414141;
  --theme-border-color-card: #414141;
  --theme-border-color-checked: #494949;
  --theme-accent-color: #408BDF;
  --theme-accent-color-hover: #5da0ec;
  --theme-accent-color-active: #82bbfc;
  --theme-corner-radius: 5px;
  --theme-border-width: 1px;
  /* 4 steps darker */
  /*--theme-frame-color: #1d1d1d;
  --theme-field-color: #353535;
  --theme-fore-color: #cccccc;
  --theme-fore-color-active: #fafafa;
  --theme-back-color: #232323;
  --theme-back-color-active: #373737;
  --theme-back-color-menu: #2c2c2c;
  --theme-back-color-card: #2f2f2f;
  --theme-border-color: #3d3d3d;
  --theme-border-color-menu: #3d3d3d;
  --theme-border-color-card: #3d3d3d;
  --theme-border-color-checked: #454545;
  --theme-accent-color: #3d8BDF;
  --theme-accent-color-hover: #4fa0ec;
  --theme-accent-color-active: #7ebbfc;
  --theme-corner-radius: 5px;
  --theme-border-width: 1px;*/
}
