@import url("themeConfig.css");

:root,
panel,
toolbar,
menupopup {
  --lwt-accent-color: var(--theme-frame-color) !important;
  --lwt-sidebar-background-color: var(--theme-back-color) !important;
  --toolbar-bgcolor: var(--theme-back-color-menu) !important;
  --toolbar-field-color: var(--theme-fore-color) !important;
  --tab-selected-bgcolor: var(--theme-back-color-menu) !important;
  --tab-separator-color: var(--theme-border-color) !important;
  --tab-selected-outline-color: var(--theme-border-color) !important;
  --toolbar-field-background-color: var(--theme-field-color) !important;
  --toolbar-field-focus-background-color: var(--theme-field-color) !important;
  --attention-dot-color: var(--theme-accent-color) !important;
  --panel-color: var(--theme-fore-color) !important;
  --panel-background: var(--theme-back-color-menu) !important;
  --panel-border-color: var(--theme-border-color-menu) !important;
  --panel-border-radius: var(--theme-corner-radius) !important;
  --panel-separator-color: var(--theme-border-color) !important;
  --focus-outline-color: var(--theme-accent-color) !important;
  --button-text-color: var(--theme-fore-color) !important;
  --button-hover-bgcolor: var(--theme-back-color-active) !important;
  --button-active-bgcolor: var(--theme-back-color-active) !important;
  --button-background-color: var(--theme-back-color-active) !important;
  --button-primary-bgcolor: var(--theme-accent-color) !important;
  --button-primary-hover-bgcolor: var(--theme-accent-color-hover) !important;
  --button-primary-active-bgcolor: var(--theme-accent-color-active) !important;
  --organizer-toolbar-background: var(--theme-back-color) !important;
  --organizer-content-background: var(--theme-back-color) !important;
  --organizer-pane-background: var(--theme-back-color) !important;
  --organizer-color: var(--theme-fore-color) !important;
  --organizer-selected-color: var(--theme-fore-color-active) !important;
  --organizer-selected-background: var(--theme-accent-color) !important;
  --organizer-focus-selected-background: var(--theme-accent-color) !important;
  --organizer-focus-selected-color: var(--theme-fore-color-active) !important;
  --organizer-toolbar-field-background: var(--theme-back-color) !important;
  --organizer-toolbar-field-background-focused: var(--theme-back-color) !important;
  --organizer-toolbar-field-border-color: var(--theme-border-color) !important;
  --organizer-toolbar-field-focus-border-color: var(--theme-accent-color) !important;
  --organizer-hover-background: var(--theme-back-color-active) !important;
  --organizer-outline-color: var(--theme-accent-color) !important;
  --organizer-border-color: var(--theme-border-color) !important;
  --input-border-color: var(--theme-border-color) !important;
  --in-content-page-color: var(--theme-fore-color) !important;
  --in-content-box-background: var(--theme-back-color) !important;
  --in-content-box-border-color: var(--theme-border-color) !important;
  --in-content-page-background: var(--theme-back-color) !important;
  --in-content-border-color: var(--theme-border-color) !important;
  --in-content-primary-button-background: var(--theme-accent-color) !important;
  --in-content-primary-button-background-hover: var(--theme-accent-color-hover) !important;
  --in-content-primary-button-background-active: var(--theme-accent-color-active) !important;
  --toggle-background-color-pressed: var(--theme-accent-color) !important;
  --toggle-background-color-pressed-hover: var(--theme-accent-color-hover) !important;
  --page-nav-button-text-color: var(--theme-fore-color) !important;
  --theme-body-alternate-emphasized-background: var(--theme-back-color) !important;
  --theme-toolbar-separator: var(--theme-border-color) !important;
  --link-color-hover: var(--theme-accent-color-hover) !important;
  --link-color: var(--theme-accent-color) !important;
  --color-accent-primary: var(--theme-accent-color) !important;
  --color-accent-primary-hover: var(--theme-accent-color-hover) !important;
  --color-accent-primary-active: var(--theme-accent-color-active) !important;
  --arrowpanel-border-color: var(--theme-border-color-card) !important;
  --arrowpanel-background: var(--theme-back-color-card) !important;
  --arrowpanel-color: var(--theme-fore-color) !important;
  --toolbox-bgcolor-inactive: var(--theme-frame-color) !important;
  --toolbox-textcolor-inactive: var(--theme-fore-color) !important;
  --input-text-color: var(--theme-fore-color-active) !important;
  --urlbarView-highlight-background: var(--theme-accent-color) !important;
  --urlbar-box-bgcolor: var(--theme-field-color) !important;
  --tabpanel-background-color: var(--theme-back-color) !important;
}

#search-box {
  appearance: unset !important;
  background-color: var(--theme-back-color) !important;
  border: var(--theme-border-width) solid var(--theme-border-color) !important;
  border-radius: var(--theme-corner-radius) !important;
}

#tabbrowser-tabs {
  border: none !important;
  margin-left: -2px !important;
}

#customization-content-container {
  background-color: var(--theme-back-color) !important;
}

#customization-lwtheme-link {
  color: var(--theme-accent-color) !important;
}

tooltip,
treecol,
#commonDialog {
  color: var(--theme-fore-color-active) !important;
  background-color: var(--theme-back-color) !important;
}

#viewButton,
.dialog-button-box button {
  appearance: unset !important;
  background-color: var(--theme-back-color-menu) !important;
  border: var(--theme-border-width) solid var(--theme-border-color) !important;
  border-radius: var(--theme-corner-radius) !important;
  color: var(--theme-fore-color) !important;
}

#viewButton:hover,
.dialog-button-box button:hover {
  background-color: var(--theme-back-color-active) !important;
}

menu,
menuitem,
toolbarbutton.subviewbutton:not([disabled],[open],.unified-extensions-item-menu-button) {
  color: var(--theme-fore-color) !important;
  border-radius: var(--theme-corner-radius) !important;
  background-color: var(--theme-back-color-menu) !important;
}

menu:hover,
menuitem:hover,
toolbarbutton.subviewbutton:not([disabled],[open],.unified-extensions-item-menu-button):is(:hover) {
  background-color: var(--theme-back-color-active) !important;
}

.urlbarView-url {
  color: var(--theme-accent-color) !important;
}

#urlbar-background {
  border: var(--theme-border-width) solid var(--theme-border-color) !important;
}

#placesToolbar {
  border-bottom: var(--theme-border-width) solid var(--theme-border-color) !important;
}

#sidebar-header,
#sidebar-search-container,
.sidebar-placesTree {
  background-color: var(--theme-back-color) !important;
}

.sidebar-splitter {
  border-right: var(--theme-border-width) solid var(--theme-border-color) !important;
}

#editBMPanel_folderTree {
  background-color: var(--theme-back-color) !important;
}

#editBMPanel_folderTree treechildren::-moz-tree-row(selected),
#editBMPanel_folderTree treechildren::-moz-tree-twisty(selected),
#editBMPanel_folderTree treechildren::-moz-tree-cell-text(selected) {
  background-color: var(--theme-accent-color) !important;
  color: var(--theme-fore-color-active) !important;
}

input:not(#urlbar-input) { 
  background-color: var(--theme-back-color) !important;
}

input[type=radio],
input[type=search],
input[type=checkbox],
.checkbox-check {
  appearance: none !important;
  border-radius: var(--theme-corner-radius) !important;
  background-color: var(--theme-back-color) !important;
  border: 1px solid var(--theme-border-color) !important;
}

input[type=search]:focus {
  outline: 1px solid var(--theme-accent-color) !important;
}

input[type=radio]:hover,
input[type=checkbox]:hover,
.checkbox-check:hover {
  filter: brightness(1.2);
}

input[type=radio]:disabled,
input[type=checkbox]:disabled,
.checkbox-check:disabled {
  filter: saturate(0.2) !important;
}

input[type=radio]:checked,
input[type=checkbox]:checked,
.checkbox-check[checked] {
  background-color: var(--theme-accent-color) !important;
  border: 2px solid var(--theme-border-color-checked) !important;
}

richlistbox {
  border: none !important;
}

richlistitem[selected] {
  outline: none !important;
  border-radius: 0px !important;
  background-image: none !important;
  background-color: var(--theme-accent-color) !important;
  color: var(--theme-fore-color-active) !important;
}

::selection {
  color: var(--theme-fore-color-active) !important;
  background: var(--theme-accent-color) !important;
}
