@import url("themeConfig.css");

@-moz-document url-prefix("about:"), url-prefix("chrome:"), url-prefix("view-source:") {
  html,
  body,
  window {
    --bg-color: var(--theme-back-color) !important;
    --background-color-canvas: var(--theme-back-color) !important;
    --newtab-background-color: var(--theme-back-color) !important;
    --background-color-box: var(--theme-back-color-card) !important;
    --newtab-background-color-secondary: var(--theme-back-color-card) !important;
    --page-nav-button-text-color: var(--theme-fore-color) !important;
    --in-content-page-color: var(--theme-fore-color) !important;
    --in-content-page-background: var(--theme-back-color) !important;
    --in-content-box-background: var(--theme-back-color) !important;
    --in-content-box-border-color: var(--theme-border-color) !important;
    --in-content-border-color: var(--theme-border-color) !important;
    --background-color-box: var(--theme-back-color) !important;
    --color-accent-primary: var(--theme-accent-color) !important;
    --color-accent-primary-hover: var(--theme-accent-color-hover) !important;
    --color-accent-primary-active: var(--theme-accent-color-active) !important;
    --in-content-accent-color: var(--theme-accent-color) !important;
    --lwt-toolbarbutton-icon-fill-attention: var(--theme-accent-color) !important;
    --button-text-color: var(--theme-fore-color) !important;
    --button-primary-bgcolor: var(--theme-accent-color) !important;
    --button-primary-hover-bgcolor: var(--theme-accent-color-hover) !important;
    --button-primary-active-bgcolor: var(--theme-accent-color-active) !important;
    --in-content-primary-button-background: var(--theme-accent-color) !important;
    --in-content-primary-button-background-hover: var(--theme-accent-color-hover) !important;
    --in-content-primary-button-background-active: var(--theme-accent-color-active) !important;
    --uc-checkbox-checked-bgcolor: var(--theme-accent-color) !important;
    --checkbox-checked-bgcolor: var(--theme-accent-color) !important;
    --input-border-color: var(--theme-accent-color) !important;
    --focus-outline-color: var(--theme-accent-color) !important;
    --in-content-link-color: var(--theme-accent-color) !important;
    --fxview-primary-action-background: var(--theme-accent-color) !important;
    --newtab-primary-action-background: var(--theme-accent-color) !important;
    --link-color-hover: var(--theme-accent-color-hover) !important;
    --link-color: var(--theme-accent-color) !important;
    --theme-body-alternate-emphasized-background: var(--theme-back-color) !important;
    --theme-toolbar-separator: var(--theme-border-color) !important;
    --in-content-box-info-background: var(--theme-back-color) !important;
  }

  #viewsource {
    background-color: var(--theme-back-color) !important;
  }

  tooltip {
    background-color: var(--theme-back-color) !important;
  }

  .card-container {
    border-radius: var(--theme-corner-radius) !important;
    border: var(--theme-border-width) solid var(--theme-border-color-card) !important;
  }

  .web-appearance-choice img {
    filter: saturate(0);
  }
}

@-moz-document url-prefix("about:") {
  .radio-check,
  input[type=radio],
  input[type=search],
  input[type=checkbox],
  .checkbox-check {
    appearance: none !important;
    border-radius: var(--theme-corner-radius) !important;
    background-color: var(--theme-back-color) !important;
    border: 1px solid var(--theme-border-color) !important;
  }

  input[type=search]:focus {
    outline: 1px solid var(--theme-accent-color) !important;
  }
  
  .radio-check:hover,
  input[type=radio]:hover,
  input[type=checkbox]:hover,
  .checkbox-check:hover {
    filter: brightness(1.2);
  }

  .radio-check:disabled,
  input[type=radio]:disabled,
  input[type=checkbox]:disabled,
  .checkbox-check:disabled {
    filter: saturate(0.2) !important;
  }

  .radio-check[selected],
  input[type=radio]:checked,
  input[type=checkbox]:checked,
  .checkbox-check[checked] {
    background-color: var(--theme-accent-color) !important;
    border: 2px solid var(--theme-border-color-checked) !important;
  }
}

::selection {
  color: var(--theme-fore-color-active) !important;
  background: var(--theme-accent-color) !important;
}
